{% extends "base.html" %}
{% block content %}

    {% for cocktail in cocktails %}
        {{ cocktail.cocktail_name }}<br>
        {{ cocktail.category_name }}<br>
        {{ cocktail.cocktail_description }}<br>
        {{ cocktail.cocktail_status }}<br>
        {{ cocktail.cocktail_date }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header white-text amber darken-4 text-shadow"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text amber darken-4 text-shadow"><i class="fas fa-caret-down"></i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text amber darken-4 text-shadow"><i class="fas fa-caret-down"></i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
  </ul>
        

{% endblock %}
