{% extends "base.html" %}
{% block content %}

<div class="wrap">
<div class="all__cocktail">
    <div class="text-center pb-3">
        <h2 class="header__cocktail">All Our Cocktails</h2>
    </div>
    <div class="row card card-sm center mt-5">
        <form action="{{ url_for('search') }}" method="post" class="card-body row no-gutters align-items-center col-12">
                <div class="col-auto text-center mt-5">
                    <input type="search" name="query" id="query" minlength="3" class="form-control form-control-lg form-control-borderless" required>
                    <label for="query">Search Cocktail</label>
                </div>
                <div class="col-auto">
                    <a href="{{ url_for('get_cocktails') }}" class="amber accent-3 btn text-shadow">Reset</a>
                    <button type="submit" class="btn btn-lg btn-success">
                        <i class="fas fa-search left"></i>Search
                    </button>
                </div>
        </form>
    </div>    
    {% if cocktails|length > 0 %}
        <div class="row">
        {% for cocktail in cocktails %}
                <div class="col-sm-6 col-md-4">
                    <div class="card">
                            <div class="all__img"
                                style="background-image: url('https://cdn.pixabay.com/photo/2018/06/05/22/21/ice-cubes-3456598_960_720.jpg')">
                            </div>
                            <div class="card-body">
                              <h5 class="">{{ cocktail.cocktail_name }}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{ cocktail.cocktail_description }}</h6>
                              {% if session.user|lower == cocktail.created_by|lower %}
                        <a  href="{{ url_for('delete_cocktail', cocktail_id=cocktail._id)}}" class="btn btn-danger">Delete</a>
                        <a  href="{{ url_for('edit_cocktail', cocktail_id=cocktail._id)}}" class="btn btn-success">Edit</a>
                    {% endif %}
                        <a  href="{{url_for('get_cocktails', cocktail_id=cocktail._id)}}" class="btn btn-primary">Try</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
        {% else %}
            <h3 class="text-center">No Results Found</h3>
        </div>
</div>
</div>
 
{% endif %} {% endblock %}


