{% extends "base.html" %}
{% block content %}
   
    <main class="l-main">
        <section class="home">
            <div class="home__container bd-grid">
                <div class="home__img">
                <img src="static/img/img1.png" alt="" data-speed="2" class="move">
                <img src="static/img/img2.png" alt="" data-speed="2" class="move">
                <img src="static/img/img3.png" alt="" data-speed="2" class="move">
                <img src="static/img/img4.png" alt="" data-speed="-2" class="move">
                <img src="static/img/img5.png" alt="" data-speed="-2" class="move">
                <img src="static/img/img6.png" alt="" data-speed="2" class="move">
                </div>
                <div class="home__data">
                    <h1 class="home__title">No Bar?<br> No Problem.</h1>
                    <p class="home__description">Join our community <br> and become your own bartender</p>
                    <a href="#" class="home__button">Register</a>
                </div>
            </div>
        </section>
    </main>

<div class="wrap">
<section class="discover__cocktail">
    <div class="text-center pb-3">
        <h2 class="header__cocktail">Discover Our Cocktails</h2>
    </div>
    {% if cocktails|length > 0 %}
        <div class="row">
        {% for cocktail in cocktails %}
                <div class="col-sm-6 col-md-4">
                    <a href="{{ url_for( 'get_cocktails') }}">
                        <div class="discover__img"
                            style="background-image: url('https://cdn.pixabay.com/photo/2018/06/05/22/21/ice-cubes-3456598_960_720.jpg')">
                            <div class="discover__title">{{ cocktail.cocktail_name }}</div>
                        </div>
                    </a>
                </div>
        {% endfor %}
        {% else %}
            <h3 class="red-text center-align text-shadow">No Results Found</h3>
        </div>
</section>
</div>
{% endif %} {% endblock %}